@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    display:none;
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    color:black;
}
.xterm-viewport {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.xterm-viewport::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}